# Project 2. Data Visualization and Storytelling
The goal is to practice the entire process of EDA and Data Storytelling. You will pick an existing dataset (or create your own), run EDA, and propose a data story.   

You might need to attach some images in this notebook. To embed an image in Notebook, 
1. Create a new cell and set the cell's mode to Markdown
2. Drag and drop your image into the cell. It will create command like `![image.png](attachement:image.png)`
3. Execute/Run the cell and the image will show up
Now the image is actuall embedded in the Notebook and you don't need to worry about separate files.

In [48]:
# Let's begin with basic information of your project 

STUDENT_NAME = "HoJae Lee"
STUDENT_ID = "20180529"
PROJECT_TITLE = "Analysis of Data Science Field"

---
## PART 1. DATASET

## Instruction (You may delete this cell before submission)
Find a dataset for the project, which could be
- Public dataset (e.g. [Kaggle](https://www.kaggle.com/datasets), [DataQuest](https://www.dataquest.io/blog/free-datasets-for-projects/), [ODSC](https://opendatascience.com/12-excellent-datasets-for-data-visualization-in-2022/), or simply search "public dataset for visualization project" on Google")
- Private dataset
    - E.g. Data collected from a research project
    - E.g. Personal records (e.g. Your own email / calendar / smartwatch dump)
    
An ideal dataset would have some of the following characteristics:
- Containing a good amount of information 
    - If the dataset contains very few columns (e.g. 2) or rows (e.g. <100), you may not find anything interesting
    - Some datasets contain multiple files (i.e. tables) related to each other. You can combine them to get richer information.    
- Not too large or complicated 
    - Some datasets are too large (>1gb) to run most types of analysis. You'd better pass them or focus on part of it. 
    - Most private datasets are not tendered yet, and thus require preprocessing. For instance, if you have a private dataset containing audio data only, you might spend a lot of time to extract features from it. I recommed to avoid such dataset.   
- Not explored yet by too many predecesors
    - Iris, Penguine, Titanic datasets are NOT good, because you might not be able find anything new
    - Nevertheless, popular datasets have advantages (e.g. prior arts make it easier to jump start). If you choose to use a popular dataset, you must summarize what previous arts have discovered and which part of your work is novel
- Findings must be connected to the specific purpose of your storytelling
    - You will create a data story of a specific genre (e.g. infographics, dashboard, product, video). Findings from your dataset should be beneficial to the audience. 
        - E.g. Audiences of your infographics can understand a new subject matter
        - E.g. Users of your product can find interesting patterns and take appropriate actions
        - E.g. People who watch your data video got engaged to make certain decisions (that you intended)

In this section, introduce the dataset you selected with the following details (around 300 words). 
- Where / How did you get it? 
- Why is it interesting to you and the target audience/users?

### Introducing Dataset

Where / How did you get it?
- From Kaggle

Why is it interesting to you and the target audience/users?  
- For students who are interested in entering Data science field

---
## PART 2. PREPROCESSING

## Instruction (You may delete this cell before submission)
In this section you report details of the dataset you chose. 
- Tables and Columns
    - Briefly describe every table and column in the dataset 
- Dataset size (# records)
- Quality Issues and how you fixed them
- How you transformed the dataset into a suitable form for visualization 
    - Briefly describe (~ 300 words)

    
__This notebook is for reporting only. You might want to do actual work on a separate notebook (or Python code). Nevertheless you need to submit the zip file of the entire source code.__

In [49]:
import pandas as pd
df = pd.read_csv('data_datascience.csv')

pd.set_option('display.max_columns', None)
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Hourly,Employer provided,Lower Salary,Upper Salary,Avg Salary(K),company_txt,Job Location,Age,Python,spark,aws,excel,sql,sas,keras,pytorch,scikit,tensor,hadoop,tableau,bi,flink,mongo,google_an,job_title_sim,seniority_by_title,Degree
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 - 1000,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1,0,0,53,91,72.0,Tecolote Research,NM,48,1,0,0,1,0,1,0,0,0,0,0,1,1,0,0,0,data scientist,na,M
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,0,0,63,112,87.5,University of Maryland Medical System,MD,37,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,data scientist,na,M
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 - 1000,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1,0,0,80,90,85.0,KnowBe4,FL,11,1,1,0,1,1,1,0,0,0,0,0,0,0,0,0,0,data scientist,na,M
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 - 5000,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa...",0,0,56,97,76.5,PNNL,WA,56,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,data scientist,na,na
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 - 200,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",0,0,86,143,114.5,Affinity Solutions,NY,23,1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,data scientist,na,na

### Tables and Columns

In [50]:
df.columns

Index(['index', 'Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Hourly', 'Employer provided', 'Lower Salary', 'Upper Salary',
       'Avg Salary(K)', 'company_txt', 'Job Location', 'Age', 'Python',
       'spark', 'aws', 'excel', 'sql', 'sas', 'keras', 'pytorch', 'scikit',
       'tensor', 'hadoop', 'tableau', 'bi', 'flink', 'mongo', 'google_an',
       'job_title_sim', 'seniority_by_title', 'Degree'],
      dtype='object')

_'Job Title'_  
: 직업명  
e.g. Data scientist, junior data scientist, senior data scientist etc

_'Salary Estimate'_  
: Range of salary (str)  
e.g. $74K-$126K (Glassdoor est.), $79K-$136K (Glassdoor est.) etc

_'Rating'_  
: 회사 평점  
e.g. 3.4, 4.0 etc

_'Size'_  
: 회사의 규모 - Range of number of employee working in the company  
e.g. 1001-5000, 501-1000, 10000+ etc

_'Industry'_  
: 산업 분야  
e.g. Biotech & Pharmaceuticals, Insurance Carriers etc  

_'Lower Salary'_  
: 해당 회사의 최저 Salary (int)  
e.g. 74, 79 etc

_'Upper Salary'_  
: 해당 회사의 최대 Salary (int)  
e.g. 126, 136 etc

_'Avg Salary'_  
: 해당 회사의 평균 Salary (int)  
e.g. 100, 107.5 etc

_'job_title_sim'_  
: 축약된 job title  
e.g. data scientist, analyst, data engineer, machine learning engineer

_'seniority_by_title'_  
: Seniority in title  
e.g. na, sr

_'Python', 'spark', 'aws', 'excel', 'sql', 'sas', 'keras', 'pytorch', 'scikit', 'tensor', 'hadoop', 'tableau', 'bi', 'flink', 'mongo', 'google_an'_  
: 보유 스킬  
e.g. 1 or 0

### Dataset size (# of records)

In [51]:
df.shape

(742, 42)

### Quality Issues and how you fixed them

In [52]:
# 관련 없는 행 drop
df = df.drop(columns = ['Company Name', 'Founded', 'Job Location'])

In [53]:
# 중복 행 drop
df = df.drop("index",axis=1)
print(df.shape, df.drop_duplicates().shape)
df_dropped = df.drop_duplicates()

(742, 38) (467, 38)

In [54]:
# NaN 값 체크
df_dropped.head()
nullCheck = 0
for col in df_dropped:
    nullCheck+= sum(df_dropped[col].isnull())
print(nullCheck)

0

In [55]:
for col in df_dropped:
    print(str(col) + " : " + str(sum(df_dropped[col] == -1)))

Job Title : 0
Salary Estimate : 0
Job Description : 0
Rating : 7
Location : 0
Headquarters : 0
Size : 0
Type of ownership : 0
Industry : 0
Sector : 0
Revenue : 0
Competitors : 0
Hourly : 0
Employer provided : 0
Lower Salary : 0
Upper Salary : 0
Avg Salary(K) : 0
company_txt : 0
Age : 33
Python : 0
spark : 0
aws : 0
excel : 0
sql : 0
sas : 0
keras : 0
pytorch : 0
scikit : 0
tensor : 0
hadoop : 0
tableau : 0
bi : 0
flink : 0
mongo : 0
google_an : 0
job_title_sim : 0
seniority_by_title : 0
Degree : 0

### How you transformed dataset into a suitable form for visualization

> Key Question
1. Age에 따른 Salary 변화
    - 직업별 Age에 따른 Salary 변화
2. 직종별 Salary
3. 보유 스킬에 따른 Salary
    - 어떤 스킬이 Salary를 가장 좌우하는가?
4. 회사 Rating, Size에 따른 Salary 분포
5. Industry에 따른 Salary 분포

---
## PART 3. EDA

## Instruction (You may delete this cell before submission)
In this section you report details of the dataset you chose. 
- 1D
    - Visualize and describe basic characteristics of key columns individually
    - Report important findings (e.g. distribution, outliers, max/min, centrality)
- 2D
    - Visualize important combinations of columns 
    - Report interesting findings (e.g. strong associations between columns)
- High-Dimensional
    - Develop further the most interesting combinations from 2D analysis
    - Report conclusive findings (e.g. explanations of strong associations between two columns)
    
__Notes__
- The order of your analysis does not need to strictly follow the above list. For instance, you may pick a key column and draw 1D->2D->3D, and then start analyzing another column. 
- As you move up to high-dimensional analysis, you might need to narrow down to the fewer number of columns (otherwise your EDA might get too long). Explore widely, and choose the best direction to proceed. 
    
__This notebook is for reporting only. You might want to do actual work on a separate notebook (or Python code). Nevertheless you need to submit the zip file of the entire source code.__

---
## PART 4. Design Proposal of Data Storytelling

## Instruction (You may delete this cell before submission)
In this section you propose a data story based on your findings from EDA. You may choose one of the following types:

- Infographics
    - You can create an illustrative poster of any size (preferrable larger than A3) that contains multiple static charts. Those charts do not need to be directly drawn with Plotly. Instead, you might want to redraw them with graphic tools (e.g. Illustrator, Figma) A good infographic should communicate not only factual findings but also a specific message for a specific group of people.  
- Dashboard
    - Since interactivity is the key element of dashboard, your proposal should be clear about target user (who will use it), and task (types of findings they will get from your dashboard). 
- Data Video
    - Like infographics, data videos might have clear communication goals. However, you may focus on animated chart elements and transitions between scenes.
- Product
    - You may propose a new product or a feature of an existing product(s) that employs charts that you create. To propose a product, you should design UI, which will be used by specific target users in a specific context.
    
You describe your design proposal in any form (e.g. text, hand-drawn sketch, Figma layout)

## Title of your story (REPLACE ME)

Introduce your data story here

### Target User / Audience

Describe who will use / read / watch your story here

### Design Goal

Describe communication goals, intended messages, usecases, or any other form of goal that you want to achieve with your story here

### Rough Sketch

Describe details; Add hand-drawn rough sketches or whatever materials here to preview details of your story here

---
# Well done! Submit completed notebook on KLMS. You will be asked to present your notebook to other students during a class.